<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wish Info</title>
</head>
<body>

    <form action="get_wish_info" method="post">

        <label for="wishlist_name">Name of your wishlist</label>
        <input type="text" id="wishlist_name" name="wishlist_name" placeholder="Wishlist name">

        <label for="author_name">Your name</label>
        <input type="text" id="author_name" name="author_name" placeholder="Your name">

        <button type="submit">Next</button>

    </form>

</body>
</html>