<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create a wish</title>
</head>
<body>

    <form action="/get_wish" method="post">
    <main class="the_wish">

        <div class="wish_name_section">
        <label for="wish_name">What is your wish?</label>
        <input type="text" id="wish_name" name="wish_name" placeholder="Your wish">
        </div>

        <div class="wish_url_section">
        <label for="wish_url">Do you have a URL to yor wish?</label>
        <input type="text" id="wish_url" name="wish_url" placeholder="Wish URL">
        </div>

        <button type="submit">Add wish</button>

    </main>
    </form>

</body>
</html>