<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/head.html(currentPage='View')"></head>
<head th:replace="fragments/head.html(customCSS='/stylesheets/main.css')"></head>
<body>
<header th:replace="fragments/header.html"></header>
<main>

    <h1>List of wishes:</h1>

    <ul th:each="list : ${list}">

        <a th:href="@{/wishlist/{getId}(getId=${list.getId})}">
        <li th:text=" ${list.getName}"></li>
        <li th:text="${list.getAuthor}"></li>
        <li th:text="${list.getId}"></li>
        </a>

    </ul>

</main>
<footer th:replace="fragments/footer.html"></footer>
</body>
</html>