<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/head.html(currentPage='View')"></head>
<head th:replace="fragments/head.html(customCSS='/stylesheets/explore.css')"></head>
<body>
<header th:replace="fragments/header.html"></header>
<main>

    <h1>List of wishes:</h1>


    <section class="grid">
    <ul th:each="list : ${list}">

        <a th:href="@{/wishlist/{getId}(getId=${list.getId})}">
        <section class="card">

        <li th:text=" ${list.getName}"></li>
        <li th:text="${list.getAuthor}"></li>

        </section>
        </a>
    </ul>
    </section>

    <section class="fragment_a">
    <a href th:replace="fragments/go_back.html"></a>
    </section>

</main>
<footer th:replace="fragments/footer.html"></footer>
</body>
</html>