<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/head.html(currentPage='Index')"></head>
<head th:replace="fragments/head.html(customCSS='/stylesheets/main.css')"></head>
<body>
<header th:replace="fragments/header.html"></header>
<main>

<p th:text="${wishlist_name}"></p>

<p th:text="${author_name}"></p>

<p th:text="${wish_url}"></p>

<p th:text="${wish_name}"></p>

</main>
<footer th:replace="fragments/footer.html"></footer>
</body>
</html>