<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/head.html(currentPage='Index')"></head>
<body>
<header th:replace="fragments/header.html"></header>
<main>


    <segment>
        <h2><a th:href="/create_wish"><button>Create wishlist</button></a></h2>
        <h2><a th:href="/view"><button>Search wishlists</button></a></h2>
        <h2><a th:href="/events"><button>Search for events</button></a></h2>
    </segment>


</main>
<footer th:replace="fragments/footer.html"></footer>
</body>
</html>