<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/head.html(currentPage='Index')"></head>
<body>
<header th:replace="fragments/footer.html"></header>
<main>


    <segment>
        <a href="create_wish.html" class="button"><h3>Go create a wish</h3></a>
        <a href="view_wishlist.html" class="button"><h3>Search for a wishlist</h3></a>
        <a href="view.html" class="button"><h3>Search for an event</h3></a>
    </segment>


</main>
<footer th:replace="fragments/footer.html"></footer>
</body>
</html>