<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Make a wish</title>
</head>
    <body>
        <header>
            Welcome to Make a wishlist
        </header>
        <main>
            <segment>
                <a href="create_wish.html" class="button"><h3>Go create a wish</h3></a>
                <a href="view_wishlist.html" class="button"><h3>Search for a wishlist</h3></a>
                <a href="view_event.html" class="button"><h3>Search for an event</h3></a>
            </segment>
        </main>
        <footer>
            <segment>
                <p>Establish 2021 and Created by Anton, Laust og Patrick.</p>
            </segment>
        </footer>
    </body>
</html>