<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/head.html(currentPage='View')"></head>
<body>
<header th:replace="fragments/header.html"></header>
<main>



    <h1>List of wishes:</h1>
    <a href="wish-overview.html">
        <ul th:each="list : ${list}">
            <li th:text="${list.getName}"></li>
            <li th:text="${list.getAuthor}"></li>
            <li th:text="${list.printWishes}"></li>
        </ul>
    </a>



</main>
<footer th:replace="fragments/footer.html"></footer>
</body>
</html>