<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/head.html(currentPage='View')"></head>
<body>
<header th:replace="fragments/header.html"></header>
<main>

    <h1>List of wishes:</h1>

    <form action="/wish-overview" method="post">

        <ul th:each="list : ${list}">

            <li th:text="${list.getName}"></li>
            <li th:text="${list.getAuthor}"></li>

            <button name="submit" type="submit" th:value="list.getId">explore wishlist</button>

        </ul>

    </form>

</main>
<footer th:replace="fragments/footer.html"></footer>
</body>
</html>