<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/head.html(currentPage='View')"></head>
<head th:replace="fragments/head.html(customCSS='/stylesheets/wishlist.css')"></head>
<body>
<header th:replace="fragments/header.html"></header>
<main>

    <h1>list explore:</h1>

    <!-- first iteration !-->
    <ul th:each="list : ${list}">
        <li th:text="${list.getWish}">onions</li>
    </ul>



    <table>
        <tr>
            <th>wish</th>
            <th>url</th>
            <th>reserve button</th>
            <th>status for reservation?</th>
        </tr>
        <tr th:each="list : ${list}">
            <td th:text="${list.getWish}"></td>
            <td th:text="${list.getUrl}"></td>


            <!-- if reserved !-->
            <td th:if="${list.isReserved == true}">
                <form action="/reserveWish" method="post">
                    <button type="submit" name="wishID" th:value="${list.getIdWish}">unreserve!</button>
                </form>
            </td>

            <!-- if not reserved !-->
            <td th:if="${list.isReserved == false}">
                <form action="/reserveWish" method="post">
                    <button type="submit" name="wishID" th:value="${list.getIdWish}">reserve!</button>
                </form>
            </td>
            <td th:text="${list.isReserved}"></td>
        </tr>
    </table>

    <!-- new iteration !-->
    <!--
        <td th:if="${!wishList.isReserved} and ${userID != sessionUserID} and ${sessionUserID > 0}">
            <form action="/reserveWish" method="post">
                <button class="DelAndReserveBtn" type="submit" name="wishID" th:value="${wishList.wishID}">RESERVE</button>
            </form>
        </td>
    !-->

    <!-- share functionalilty !-->
    <script src="http://code.jquery.com/jquery-1.4.4.min.js"></script>
    <script>
        $(function () {
            $("button").click(function () {
                var url = window.location.href;
                var $temp = $("<input>");
                $("body").append($temp);
                $temp.val(url).select();
                document.execCommand("copy");
                $temp.remove();
            });

        })
    </script>

    <div class="tooltip">
        <button onclick="myFunction()" onmouseout="outFunc()">
            <span class="tooltiptext" id="myTooltip">Copy to clipboard</span>
            Copy link to share
        </button>
    </div>

    <a href="/explore">Go back to lists</a>
</main>
<footer th:replace="fragments/footer.html"></footer>
</body>
</html>