<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/head.html(customCSS='/stylesheets/wishlist.css')"></head>
<body>
<header th:replace="fragments/header.html"></header>
<main>

    <h1>Selected wishlist:</h1>

    <table class="overview">
        <tr>
            <th>Wish:</th>
            <th>Link</th>
            <th>Reservation:</th>
        </tr>

    <tr th:each="list : ${list}">
        <td th:text="${list.getWish}"></td>
        <td th:text="${list.getUrl}"></td>
        <td>
            <form action="/change_reserved_status" method="post">
                <button type="submit" name="wishID" th:value="${list.getIdWish}"><p th:text="${list.printIsReservedToButton()}"></p></button>
            </form>
        </td>

    </tr>
    </table>

    <script src="http://code.jquery.com/jquery-1.4.4.min.js"></script>
    <script>
        $(function () {
            $("button").click(function () {
                var url = window.location.href;
                var $temp = $("<input>");
                $("body").append($temp);
                $temp.val(url).select();
                document.execCommand("copy");
                $temp.remove();
            });

        })
    </script>

    <div class="tooltip">
        <button onclick="myFunction()" onmouseout="outFunc()">
            <span class="tooltiptext" id="myTooltip">Copy to clipboard</span>
            Copy link to share
        </button>
    </div>

    <a href="/explore">Go back to lists</a>
</main>
<footer th:replace="fragments/footer.html"></footer>
</body>
</html>